@import "../../constants/colors";

.wsbody-container{
    background-color: $myGray;
    display:flex;
    flex-direction:column;
    height: 80vh;
}
.ws-title-container{
    display:flex;
    justify-content: center;
}

.ws-title-box{
    flex-basis: 70%;
    display: flex;
}

.ws-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ws-board{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.ws-cards{
    flex-basis:75%;    
}

.box-foldericon{
    font-size: 70px;
}

.folder-icon{
    color: gray;
}
